body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

#map {
  /* margin-top: -24px !important;
  height: 650px !important;
  width: 98% !important;
  margin: 0 auto; */
  width: 100%;
  position: absolute !important;
  top: 50px !important;
  bottom: 0 !important;
  margin: 0 auto !important;
 }

 .navbar {
   height: 35px !important;
 }

 .form-control {
   height: 32px !important;
 }

 #btn-search {
  height: 32px !important;
}

.table{
  margin: 0 auto !important;
}

/* Sortable tables */
table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: default;
}

.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

icon-div{
  margin: auto !important;
  width: 50%; 
  height: 20%
}