
  <body>
        <div id="map"></div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBibBok7MtTB_QmkFrwJ8zN1LrYdBRCN8w&callback=startMap"></script>
        <script type="text/javascript" src="../js/map-search.js"></script>
        <div class="well-searchbox" style="display:none" >
            <form class="form-horizontal" form action="/search" method="POST" role="form">
    
                <div class="form-group">
                    <label class="col-md-4 control-label">Category</label>
                    <div class="col-md-8">
                        <select name="category" class="form-control" placeholder="Select Category">
                            <option value="">Select Category</option>
                            <%categories.forEach(function(category) { %>
                              <option value="<%=category%>"><%=category%></option>
                          <%})%>  
                        </select>
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="col-md-4 control-label">Language</label>
                    <div class="col-md-8">
                        <select name="language" class="form-control" placeholder="Select Language">
                             <option value="">Select Language</option>
                            <%languages.forEach(function(language) { %>
                              <option value="<%=language%>"><%=language%></option>
                          <%})%>n>
                        </select>
                    </div>
                </div>
    
                <div class="col-sm-offset-4 col-sm-5">
                    <button type="submit" id="btn-search" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
      </body>